# C# build artifacts
[Bb]in/
[Oo]bj/

# Visual Studio artifacts
.vs/
*.suo
*.user
*.sln.docstates

# Rider artifacts
.idea/

# User-specific files
*.DS_Store

# Dotnet files
project.lock.json
artifacts/

# Tooling
.store/

# Secrets
secrets.json
appsettings.Development.json